open-security-automations/workflows/intelligence/vulnerability_sync.json
{
  "name": "Vulnerability Sync and Enrichment",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "cronExpression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "cron-1",
      "name": "Daily at 2 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://services.nvd.nist.gov/rest/json/cves/2.0",
        "options": {
          "timeout": 60000,
          "retry": {
            "enabled": true,
            "maxTries": 3
          }
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "resultsPerPage",
              "value": "2000"
            },
            {
              "name": "startIndex",
              "value": "0"
            },
            {
              "name": "pubStartDate",
              "value": "={{new Date(Date.now() - 24*60*60*1000).toISOString().split('T')[0]}}T00:00:00.000"
            },
            {
              "name": "pubEndDate",
              "value": "={{new Date().toISOString().split('T')[0]}}T23:59:59.999"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Wildbox-Security-Platform/1.0 (Vulnerability Scanner)"
            }
          ]
        }
      },
      "id": "http-1",
      "name": "Fetch Recent CVEs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse and enrich CVE data\nconst nvdResponse = $input.first().json;\nconst vulnerabilities = nvdResponse.vulnerabilities || [];\n\nconst enrichedVulns = vulnerabilities.map(vuln => {\n  const cve = vuln.cve;\n  const cveId = cve.id;\n  \n  // Extract CVSS scores\n  let cvssV3 = null;\n  let cvssV2 = null;\n  \n  if (cve.metrics) {\n    if (cve.metrics.cvssMetricV31 && cve.metrics.cvssMetricV31.length > 0) {\n      cvssV3 = cve.metrics.cvssMetricV31[0].cvssData;\n    } else if (cve.metrics.cvssMetricV30 && cve.metrics.cvssMetricV30.length > 0) {\n      cvssV3 = cve.metrics.cvssMetricV30[0].cvssData;\n    }\n    \n    if (cve.metrics.cvssMetricV2 && cve.metrics.cvssMetricV2.length > 0) {\n      cvssV2 = cve.metrics.cvssMetricV2[0].cvssData;\n    }\n  }\n  \n  // Extract affected products\n  const affectedProducts = [];\n  if (cve.configurations && cve.configurations.length > 0) {\n    cve.configurations.forEach(config => {\n      if (config.nodes) {\n        config.nodes.forEach(node => {\n          if (node.cpeMatch) {\n            node.cpeMatch.forEach(match => {\n              if (match.vulnerable) {\n                affectedProducts.push({\n                  cpe: match.criteria,\n                  version_start: match.versionStartIncluding || match.versionStartExcluding,\n                  version_end: match.versionEndIncluding || match.versionEndExcluding\n                });\n              }\n            });\n          }\n        });\n      }\n    });\n  }\n  \n  // Determine severity\n  let severity = 'unknown';\n  let score = 0;\n  \n  if (cvssV3) {\n    score = cvssV3.baseScore;\n    if (score >= 9.0) severity = 'critical';\n    else if (score >= 7.0) severity = 'high';\n    else if (score >= 4.0) severity = 'medium';\n    else severity = 'low';\n  } else if (cvssV2) {\n    score = cvssV2.baseScore;\n    if (score >= 7.0) severity = 'high';\n    else if (score >= 4.0) severity = 'medium';\n    else severity = 'low';\n  }\n  \n  // Extract weakness information\n  const weaknesses = [];\n  if (cve.weaknesses) {\n    cve.weaknesses.forEach(weakness => {\n      weakness.description.forEach(desc => {\n        if (desc.lang === 'en') {\n          weaknesses.push(desc.value);\n        }\n      });\n    });\n  }\n  \n  // Check if actively exploited (simplified heuristic)\n  const description = cve.descriptions.find(d => d.lang === 'en')?.value || '';\n  const isActivelyExploited = description.toLowerCase().includes('exploit') || \n                             description.toLowerCase().includes('remote code execution') ||\n                             description.toLowerCase().includes('zero-day');\n  \n  return {\n    cve_id: cveId,\n    published_date: cve.published,\n    last_modified: cve.lastModified,\n    description: description,\n    severity: severity,\n    cvss_v3_score: cvssV3?.baseScore || null,\n    cvss_v3_vector: cvssV3?.vectorString || null,\n    cvss_v2_score: cvssV2?.baseScore || null,\n    cvss_v2_vector: cvssV2?.vectorString || null,\n    affected_products: affectedProducts,\n    weaknesses: weaknesses,\n    references: cve.references?.map(ref => ref.url) || [],\n    is_actively_exploited: isActivelyExploited,\n    source: 'nvd',\n    collection_timestamp: new Date().toISOString()\n  };\n});\n\n// Filter for high-priority vulnerabilities\nconst highPriorityVulns = enrichedVulns.filter(vuln => \n  vuln.severity === 'critical' || \n  vuln.severity === 'high' || \n  vuln.is_actively_exploited\n);\n\nreturn [{\n  json: {\n    vulnerabilities: enrichedVulns,\n    high_priority_count: highPriorityVulns.length,\n    total_count: enrichedVulns.length,\n    collection_date: new Date().toISOString().split('T')[0]\n  }\n}];"
      },
      "id": "code-1",
      "name": "Parse and Enrich CVEs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.total_count}}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Has New CVEs?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "http://open-security-api:8000/api/v1/vulnerabilities/bulk",
        "options": {
          "timeout": 60000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vulnerabilities",
              "value": "={{JSON.stringify($json.vulnerabilities)}}"
            },
            {
              "name": "source",
              "value": "nvd"
            },
            {
              "name": "collection_date",
              "value": "={{$json.collection_date}}"
            }
          ]
        }
      },
      "id": "http-2",
      "name": "Store in Vuln Database",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1040, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wildbox-api-auth",
          "name": "Wildbox API Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "http://open-security-cspm:8007/api/v1/vulnerabilities/scan-trigger",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "trigger_type",
              "value": "vulnerability_update"
            },
            {
              "name": "high_priority_count",
              "value": "={{$json.high_priority_count}}"
            },
            {
              "name": "total_count",
              "value": "={{$json.total_count}}"
            }
          ]
        }
      },
      "id": "http-3",
      "name": "Trigger CSPM Scans",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1240, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wildbox-api-auth",
          "name": "Wildbox API Auth"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.high_priority_count}}",
              "operation": "larger",
              "value2": 10
            }
          ]
        }
      },
      "id": "if-2",
      "name": "High Priority Alert?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1440, 200]
    },
    {
      "parameters": {
        "url": "={{$json.slack_webhook_url}}",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "🚨 High Volume of Critical Vulnerabilities Detected!"
            },
            {
              "name": "attachments",
              "value": "[{\"color\":\"danger\",\"fields\":[{\"title\":\"Date\",\"value\":\"{{$json.collection_date}}\",\"short\":true},{\"title\":\"Total CVEs\",\"value\":\"{{$json.total_count}}\",\"short\":true},{\"title\":\"High Priority\",\"value\":\"{{$json.high_priority_count}}\",\"short\":true},{\"title\":\"Action Required\",\"value\":\"Review and prioritize patching\",\"short\":true}]}]"
            }
          ]
        }
      },
      "id": "http-4",
      "name": "Alert Security Team",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1640, 100]
    },
    {
      "parameters": {
        "jsCode": "// Generate vulnerability report\nconst data = $input.first().json;\nconst vulnerabilities = data.vulnerabilities;\n\n// Group by severity\nconst severityGroups = {\n  critical: vulnerabilities.filter(v => v.severity === 'critical'),\n  high: vulnerabilities.filter(v => v.severity === 'high'),\n  medium: vulnerabilities.filter(v => v.severity === 'medium'),\n  low: vulnerabilities.filter(v => v.severity === 'low')\n};\n\n// Top affected products\nconst productCounts = {};\nvulnerabilities.forEach(vuln => {\n  vuln.affected_products.forEach(product => {\n    const productName = product.cpe.split(':')[3] || 'unknown';\n    productCounts[productName] = (productCounts[productName] || 0) + 1;\n  });\n});\n\nconst topProducts = Object.entries(productCounts)\n  .sort(([,a], [,b]) => b - a)\n  .slice(0, 10)\n  .map(([product, count]) => ({ product, count }));\n\n// Most common weaknesses\nconst weaknessCounts = {};\nvulnerabilities.forEach(vuln => {\n  vuln.weaknesses.forEach(weakness => {\n    weaknessCounts[weakness] = (weaknessCounts[weakness] || 0) + 1;\n  });\n});\n\nconst topWeaknesses = Object.entries(weaknessCounts)\n  .sort(([,a], [,b]) => b - a)\n  .slice(0, 5)\n  .map(([weakness, count]) => ({ weakness, count }));\n\n// Generate report\nconst report = {\n  date: data.collection_date,\n  summary: {\n    total_vulnerabilities: data.total_count,\n    high_priority_vulnerabilities: data.high_priority_count,\n    actively_exploited: vulnerabilities.filter(v => v.is_actively_exploited).length\n  },\n  severity_breakdown: {\n    critical: severityGroups.critical.length,\n    high: severityGroups.high.length,\n    medium: severityGroups.medium.length,\n    low: severityGroups.low.length\n  },\n  top_affected_products: topProducts,\n  common_weaknesses: topWeaknesses,\n  sample_critical_cves: severityGroups.critical.slice(0, 5).map(v => ({\n    cve_id: v.cve_id,\n    description: v.description.substring(0, 200) + '...',\n    cvss_score: v.cvss_v3_score || v.cvss_v2_score,\n    is_actively_exploited: v.is_actively_exploited\n  })),\n  generated_at: new Date().toISOString()\n};\n\nreturn [{ json: report }];"
      },
      "id": "code-2",
      "name": "Generate Vuln Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 300]
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "http://open-security-data:8002/api/v1/reports/vulnerability",
        "options": {
          "timeout": 30000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "report_data",
              "value": "={{JSON.stringify($json)}}"
            },
            {
              "name": "report_type",
              "value": "daily_vulnerability_sync"
            }
          ]
        }
      },
      "id": "http-5",
      "name": "Store Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1840, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wildbox-api-auth",
          "name": "Wildbox API Auth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "http://open-security-guardian:8001/api/v1/alerts",
        "options": {
          "timeout": 10000
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "alert_type",
              "value": "vulnerability_spike"
            },
            {
              "name": "severity",
              "value": "high"
            },
            {
              "name": "description",
              "value": "High volume of critical vulnerabilities detected: {{$json.high_priority_count}} high-priority CVEs"
            },
            {
              "name": "metadata",
              "value": "={{JSON.stringify({ date: $json.collection_date, high_priority_count: $json.high_priority_count, total_count: $json.total_count })}}"
            }
          ]
        }
      },
      "id": "http-6",
      "name": "Alert Guardian",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1840, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wildbox-api-auth",
          "name": "Wildbox API Auth"
        }
      }
    }
  ],
  "connections": {
    "Daily at 2 AM": {
      "main": [
        [
          {
            "node": "Fetch Recent CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent CVEs": {
      "main": [
        [
          {
            "node": "Parse and Enrich CVEs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Enrich CVEs": {
      "main": [
        [
          {
            "node": "Has New CVEs?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has New CVEs?": {
      "main": [
        [
          {
            "node": "Store in Vuln Database",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Store in Vuln Database": {
      "main": [
        [
          {
            "node": "Trigger CSPM Scans",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger CSPM Scans": {
      "main": [
        [
          {
            "node": "High Priority Alert?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "High Priority Alert?": {
      "main": [
        [
          {
            "node": "Alert Security Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "Alert Guardian",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Vuln Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Security Team": {
      "main": [
        [
          {
            "node": "Generate Vuln Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Vuln Report": {
      "main": [
        [
          {
            "node": "Store Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Report": {
      "main": [
        []
      ]
    },
    "Alert Guardian": {
      "main": [
        [
          {
            "node": "Generate Vuln Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {},
  "tags": [
    {
      "id": "vulnerabilities",
      "name": "vulnerabilities"
    },
    {
      "id": "cve",
      "name": "cve"
    },
    {
      "id": "sync",
      "name": "sync"
    }
  ],
  "active": false,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "1.0.0"
}
